body{ 
    background: #111111; 
    color:azure;
    font-family: monospace;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.imagens ul li{
    display: inline-block;
    font-size: 28px;
    position: relative;
    top: 0%;
    transform: translate(0, +200%);
}

.utilizadores{
    font-size: 5em;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    }
